*.suo
*.user
*.build.csdef
*.vscode
obj
bin
csx
Bin
TestResults
*.vs10x
Connection.config
*.log
*.log.*
ASPNETDB.MDF
aspnetdb_log.ldf
ClientBin
*.Publish.xml
.idea
*.dll
*.exe
*.orig
rcf
ecf
/bitcoincf
**/App_Data/XMLDocument.XML
.sass-cache
node_modules
.vs
*.csv#
**/.DS_Store
**/Thumbs.db
local.settings.json
app.config
docker/env/
**/serviceDependencies.local.json
